	/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/

	.cta {
	    background: linear-gradient(rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.849)), url("https://i.ibb.co/12d16fK/bg1.webp") fixed center center;
	    background-size: cover;
	    padding: 20px 0;
	}

	.cta h3 {
	    color: #fff;
	    font-size: 28px;
	    font-weight: 700;
	}

	.cta p {
	    color: #fff;
	}

	/* .cta .cta-btn {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border-radius: 25px;
	transition: 0.5s;
	margin-top: 10px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	color: #fff;
	
  }
  
  .cta .cta-btn:hover {
	border-color: #fff;
  } */

	#b1 {
	    background-color: #004A7F;
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    border: none;
	    color: #FFFFFF;
	    cursor: pointer;
	    display: inline-block;
	    font-family: Arial;
	    font-size: 20px;
	    padding: 20px 40px;
	    text-align: center;
	    text-decoration: none;
	    -webkit-animation: glowing 1500ms infinite;
	    -moz-animation: glowing 1500ms infinite;
	    -o-animation: glowing 1500ms infinite;
	    animation: glowing 1500ms infinite;
	}

	@-webkit-keyframes glowing {
	    0% {
	        background-color: #0fb100;
	        -webkit-box-shadow: 0 0 3px #0fb100;
	    }
	    50% {
	        background-color: #0fb100;
	        -webkit-box-shadow: 0 0 40px #0fb100;
	    }
	    100% {
	        background-color: #0fb100;
	        -webkit-box-shadow: 0 0 3px #0fb100;
	    }
	}

	@-moz-keyframes glowing {
	    0% {
	        background-color: #0fb100;
	        -moz-box-shadow: 0 0 3px #0fb100;
	    }
	    50% {
	        background-color: #0fb100;
	        -moz-box-shadow: 0 0 40px #0fb100;
	    }
	    100% {
	        background-color: #0fb100;
	        -moz-box-shadow: 0 0 3px #0fb100;
	    }
	}

	@-o-keyframes glowing {
	    0% {
	        background-color: #0fb100;
	        box-shadow: 0 0 3px #0fb100;
	    }
	    50% {
	        background-color: #0fb100;
	        box-shadow: 0 0 40px #0fb100;
	    }
	    100% {
	        background-color: #0fb100;
	        box-shadow: 0 0 3px #0fb100;
	    }
	}

	@keyframes glowing {
	    0% {
	        background-color: #0fb100;
	        box-shadow: 0 0 3px #0fb100;
	    }
	    50% {
	        background-color: #0fb100;
	        box-shadow: 0 0 40px #0fb100;
	    }
	    100% {
	        background-color: #0fb100;
	        box-shadow: 0 0 3px #0fb100;
	    }
	}

	.glow {
	    font-size: 40px;
	    color: #ff0000;
	    text-align: left;
	    animation: glow 1s ease-in-out infinite alternate;
	}

	@-webkit-keyframes glow {
	    from {
	        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffd905, 0 0 40px #ffd905, 0 0 50px;
	    }
	    to {
	        text-shadow: 0 0 20px #fff, 0 0 30px #ffd905, 0 0 40px #ffd905, 0 0 50px #ffd905, 0 0 60px;
	    }
	}

	@media only screen and (max-width: 424px) {
	    .cta {
	        background: linear-gradient(rgba(0, 0, 0, 0.952), rgba(0, 0, 0, 0.911)), url("https://i.ibb.co/12d16fK/bg1.webp") fixed center center;
	        background-size: cover;
	        padding: 20px 0;
	    }
	    .cta h3 {
	        color: #fff;
	        font-size: 28px;
	        font-weight: 700;
	        text-align: center;
	    }
	    .cta p {
	        color: #fff;
	    }
	}

	@media only screen and (max-width:800px) {
	    /* For tablets: */
	    .cta {
	        width: 80%;
	        padding: 0;
	    }
	    .right {
	        width: 100%;
	    }
	}

	@media only screen and (max-width:500px) {
	    /* For mobile phones: */
	    .cta {
	        width: 100%;
	    }
	}